<html>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css"
    />
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
/>
    <body>
        <main class="container-fluid">
            <div class="grid">
            <div><h1> Admin </h1></div>
            <div style="text-align: right;"><button><a href="/">Log Out</a></button></div>
        </div>
        <table>
            <thead>
              <tr>
                <th scope="col">Files</th>
                <th scope="col">To</th>
                <th scope="col">From</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for sender,reciver, file in files %}
              <tr>
                <td>{{ file }}</td>
                <td>{{ sender }}</td>
                <td>{{ reciver }}</td>
                <td><button></button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <article class="pico-background-red-600">
          <h2>
            All Users - DEV ONLY, GET RID OF LTR
          </h2>
          <table>
            <thead>
              <tr>
                <th scope="col">User</th>
                <th scope="col">Password</th>
                <th scope="col">Public Key</th>
              </tr>
            </thead>
            <tbody>
              {%for user, password, key in users%} 
                <tr>
                  <td>{{user}}</td>
                  <td>{{password}}</td>
                  <td>{{key}}</td>
                </tr> 
              {%endfor%} 
            </tbody>
          </table>
        </article>
        </main>
    </body>
</html>