<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css" />
  <script src="/script/static/js/createAccount.js" type="module"></script>
</head>

<body>
  <main class="container">
    <h1>Create an Account</h1>
    <form id="createAccountForm" enctype="multipart/form-data">
      <fieldset>
        <label>
          Username
          <input type="text" name="username" placeholder="Username" autocomplete="username" required />
        </label>
        <label>
          Password
          <input type="password" name="password" placeholder="Password" autocomplete="current-password" required />
        </label>
        <button type="submit" class="btn btn-dark btn-sm">Sign Up</button>
      </fieldset>
    </form>

    
      <a href="/script/user"><button>User</button></a>

    {% include 'errorModal.html' %}
  </main>
  
</body>
</html>
