<html>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css"
/>
<body>
    <main class="container">
        <h1> Create An Account </h1>
        <form>
            <fieldset>
                <label>
                username
                <input
                  type="text"
                  name="username"
                  placeholder="Username"
                  autocomplete="usernames"
                />
                </label>
                <label>
                Password
                <input
                  type="password"
                  name="password"
                  placeholder="Password"
                  autocomplete="current-password"
                />
                </label>
                <label>
                    Public Key
                    <input
                      type="text"
                      name="publicKey"
                      placeholder="Public Key"
                      autocomplete="publicKey"
                    />
                </label>
            </fieldset>
          
            <input
              type="submit"
              value="Log In"
            />
          </form>

          <button>
            <a href="/admin">Admin</a>
          </button>
          <button>
            <a href="/user">User</a>
          </button>
      </main>
    

</body>
</html>