<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
/>
<script src="{{ url_for('static', filename='js/errorModal.js') }}" type="module"></script>
<dialog id="modal-example">
    <article>
      <header class="pico-background-red-600">
        <button
          aria-label="Close"
          rel="prev"
          data-target="modal-example"

        ></button>
        <h3>Error!</h3>
      </header>
      <p id='modalContent'></p>
      <footer>
        <button autofocus data-target="modal-example" >
          OK :\
        </button>
      </footer>
    </article>
</dialog>