<html>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
/>
<body>
    <main class="container">
        <h1> Login </h1>
        <form>
            <fieldset>
              <label>
                Email
                <input
                  type="email"
                  name="email"
                  placeholder="Email"
                  autocomplete="email"
                />
              </label>
              <label>
                Password
                <input
                  type="password"
                  name="password"
                  placeholder="Password"
                  autocomplete="current-password"
                />
              </label>
            </fieldset>
          
            <input
              type="submit"
              value="Log In"
            />
          </form>

          <article class="pico-background-red-600">
            <h2>DEV ONLY, GET RID OF LTR</h2>
            <div role="group">
              <a href="/admin"><button>Admin</button></a>
              <a href="/user"><button>User</button></a>
              <a href="/createAccount"><button>Sign Up</button></a>
              <a href="/login"><button>log in as ____</button></a>
            </div>

          </article>
      </main>
    

</body>
</html>