<html>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css"
/>
<body>
    <main class="container">
        <h1> Login </h1>
        <form enctype="multipart/form-data" id="loginForm">
            <fieldset>
              <label>
                Username
                <input
                  type="text"
                  name="username"
                  required
                  placeholder="Username"
                  autocomplete="username"
                />
              </label>
              <label>
                Password
                <input
                  type="password"
                  name="password"
                  required
                  placeholder="Password"
                  autocomplete="current-password"
                />
              </label>
            <p><strong>{{errorMsg}}</strong></p>
            </fieldset>
            <button type="submit" data-target="modal-example" >Log in</button>
          </form>

          <article class="pico-background-red-600">
            <h2>DEV ONLY, GET RID OF LTR</h2>
            <div role="group">
              <a href="/admin"><button>Admin</button></a>
              <a href="/user"><button>User</button></a>
              <a href="/createAccount"><button>Sign Up</button></a>
              <a href="/login"><button>log in as ____</button></a>
            </div>

          </article>

          {% include 'errorModal.html' %}
      </main>

  <script
  src="{{ url_for('static', filename='js/index.js') }}"
  type="module"
></script>
</body>
</html>