<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.indigo.min.css" />
</head>

<body>
  <main class="container">
  <h1>User Page</h1>

  <form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="file">Choose a file:</label>
    <input type="file" id="file" name="file" accept=".txt">

    <select name="select" aria-label="Select" required>
      <option selected disabled value="">Select</option>
      <option>Dont</option>
      <option>Confuse</option>
      <option>Mark</option>
      <option>Or</option>
      <option>Amy</option>
    </select>
    
    <button type="submit">Upload</button>
    
    
  </form>

  <h2>Download Files</h2>
  <table>
    <thead>
      <tr>
        <th>File Name</th>
        <th>Download Link</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
      <tr>
        <td>{{ file }}</td>
        <td><a href="/decrypt_and_download/{{ file }}">Download</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</main>``
</body>

</html>

